In [16]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [17]:
df = pd.read_csv('C:\\Users\\UPES\\Documents\\salaries.csv')
df.head()

  company                  job     degree  salary
0  google      sales executive  bachelors       0
1  google      sales executive    masters       0
2  google     business manager  bachelors       1
3  google     business manager    masters       1
4  google  computer programmer  bachelors       0

In [18]:
#drop unnecessary columns
df1 = df.drop('salary',axis='columns')
y = df['salary']
#handle the labels
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [19]:
df1['company_n'] = le_company.fit_transform(df1['company'])
df1['job_n'] = le_job.fit_transform(df1['job'])
df1['degree_n'] = le_degree.fit_transform(df1['degree'])

In [20]:
df1

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [21]:
#drop the old columns
df = df1.drop(['company','job','degree'],axis='columns')
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary, dtype: int64

In [22]:
#prepare the model
t = tree.DecisionTreeClassifier()

In [23]:
#fit the model
t.fit(df, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
#calculate the score
t.score(df,y)

1.0

In [25]:
#make predictions
t.predict([[2,1,0]])

array([0], dtype=int64)

In [26]:
t.predict([[1,1,0]])

array([1], dtype=int64)